@model List<lesson05.Models.ViewModels.YazarlarSidebarVM>

<div class="p-4">
    <h4 class="fst-italic">Yazarlar</h4>
    <ol class="list-unstyled mb-0">
        @foreach (var yazar in Model)
        {
            <li class="my-2">
                <a href="/Kitaplar/Yazar/@yazar.Id" class="btn btn-outline-primary">
                    @yazar.YazarAdi <span class="badge text-bg-primary">@yazar.KitapSayisi</span>
                </a>

            </li>

        }
    </ol>
</div>