@{
    ViewData["Title"] = "Home Page";
}

 <div class="row hero">
            <div class="slider">
                <img src="/images/slide3.jpg" alt="Sample alt text">
            </div>
            <div class="sidebar">
                <h3>Best<br>Travel<br>Blog</h3>
                <p>Discover world...</p>
            </div>
        </div>
        <div class="flex-row">
            <a href="#" class="box orange-box">
                <div class="box-head">
                    <div class="info">
                        <div class="icon-holder">
                            <i class="fa fa-calendar-check"></i>
                        </div>
                        <div class="head-text">
                            <h3>18 December 2023</h3>
                            <p>Start from İstanbul</p>
                        </div>
                    </div>
                </div>

                <div class="box-footer">
                    <h1>South <br> Africa Tour</h1>
                    <i class="fa fa-arrow-right-long"></i>
                </div>
            </a>
            <a href="#" class="box gray-box">
                <div class="box-head">
                    <div class="info">
                        <div class="icon-holder">
                            <img src="/images/avatar2.jpg" alt="">
                        </div>
                        <div class="head-text dark-text">
                            <h3>18 December 2023</h3>
                            <p>Start from İstanbul</p>
                        </div>
                    </div>
                </div>
                <div class="box-content">
                    <h3>Patrick Steven</h3>
                </div>
                <div class="box-footer">
                    <h1>Online <br> Workshop</h1>
                    <i class="fa fa-arrow-right-long"></i>
                </div>
            </a>
            <a href="#" class="box lime-box">
                <div class="box-head">

                    <span class="label">Blog Post</span>

                </div>
                <div class="box-content">
                    <div class="elips orange-box">
                        <i class="fa fa-bag-shopping"></i>
                    </div>
                    <div class="elips gray-box">
                        <i class="fa fa-plane-arrival"></i>
                    </div>
                    <div class="elips orange-box">
                        <i class="fa fa-hotel"></i>
                    </div>
                </div>
                <div class="box-footer">
                    <h1>Online <br> Workshop</h1>
                    <i class="fa fa-arrow-right-long"></i>
                </div>
            </a>
        </div>
