@model List<lesson05.Models.ViewModels.BookVM>

@foreach (var book in Model)
{
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-6 p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis">@book.YazarAdi</strong>
                <a href="/Kitap/@book.Id">
                    <h4 class="mb-0">@book.Adi</h4>
                </a>
                <div class="mb-1 text-body-secondary">@book.YayinTarihi</div>
                <span class="badge text-bg-dark align-self-start">@book.Dili</span>

            </div>
            <div class="col-6 d-none d-lg-block">
                <a href="/Home/KitapDetay/">
                    <img src="/images/book/@book.Resim" class="img-fluid" alt="" srcset="">
                </a>
            </div>
        </div>
    </div>
}
